
<section>
  
  <%= link_to "", new_product_path, :class => "food_menu" %>
  
  <%= link_to "", new_product_path, :class => "pos_console" %>
  
</section>

<section>
<%= link_to "", new_product_path, :class => "manager_reports" %>

<%= link_to "", admin_path, :class => "system_admin" %>
</section>
