// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$font_stack:    Tahoma, Geneva, sans-serif;
$background: #000;
$primary_text: #9BADA1;
$link: #fff;
$link_hover: #35A7FE;
$menu_item_bg: #333;
$menu_item_top_border: #35A7FE;
$gold: #E7B618;

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    }
    
a:link, a:visited {
    color: $link;
}
    
a:hover, a:active {
    color: $link_hover;
}

ul {
    list-style-type: none;
    padding: 15px 0;
}

li {
    display: inline;
    padding: 10px 15px;
}


h1 {
    color: $gold;
    margin: 10px 0;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 3em;
}

section {

    margin: 50px;
    text-align: left;

    a:link, a:visited, a:hover, a:active {
        text-decoration: none;
    }
    
    a:link, a:visited {
        color: $link;
    }
    
    a:hover, a:active {
        color: $link_hover;
    }

    h3 {
        text-align: left;
    }
    
    details {
        text-align: left;
    }
    
    .food_menu_image {
        max-height: 150px;
        max-width: auto;
        display: inline;
        float: left;
        margin: 15px;
    }
    
    .food_menu_image {
        max-height: auto;
        max-width: 150px;
        display: inline;
        float: left;
        margin: 15px;
    }
    
    .foodmenu_item {
        
        -moz-box-shadow: 0 10px 15px 0px rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: 0 10px 15px 0px rgba(0, 0, 0, 0.5);
        box-shadow: 0 10px 15px 0px rgba(0, 0, 0, 0.5);

        
        h3 {
            height: 60px;
            width: 100%;
            border-top: 5px solid $menu_item_top_border;
            background: $menu_item_bg;
            -moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.3);
            -webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.3);
            box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.3);
            line-height: 60px;
            text-indent: 25px;
        } 
        
        background-color: $menu_item_bg;
        height: 200px;
        
        .foodmenu_item_details {
            display: inline;
        }
        
        p {
            text-align: left;
        }
    }
    
    .foodmenu_footer {
        padding: 100px 0;
    }
}


.pagination {
    background: #101010;
    color: #feffff;
    color: #666;
    font: 18px/30px $font_stack;
    margin-left: 50px;
    
    
    .page, .first, .prev, .next, .last {
        display: inline-block;
        margin-right: 4px;
        border-radius: 3px;
        border: solid 1px #c0c0c0;
        background: #e9e9e9;
        font-size: .875em;
        font-weight: bold;
        text-decoration: none;
        color: #717171;
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#565b5f), to(#3e4347));
        background: -moz-linear-gradient(0% 0% 270deg,#565b5f, #3e4347);
        border: solid 1px #32373b;
        background: #3e4347;
        box-shadow: inset 0px 1px 1px rgba(255,255,255, .1), 0px 1px 3px rgba(0,0,0, .1);
        color: #feffff;
        text-shadow: 0px 1px 0px rgba(0,0,0, .5);
    }
    
    .page:hover, .first:hover, .prev:hover, .next:hover, .last:hover {
        background: #35A7FE;
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#547085), to(#35A7FE));
        background: -moz-linear-gradient(0% 0% 270deg,#547085, #35A7FE);
    }
    
    .page.current {
        padding: 0px 9px;
        border: none;
        background: #2f3237;
        box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .1);
    }
    
    .page {
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#565b5f), to(#3e4347));
        background: -moz-linear-gradient(0% 0% 270deg,#565b5f, #3e4347);
    }
    
    a:hover, a:active, a:link, a:visited {
        color: #fff;
        display: block;
        padding: 0px 9px;
    }

}

#search input[type=submit] {
    margin-top:5px;
    padding:5px 20px;
    border:2px solid #3F92D2;
    background-color:#66A3D2;
    color:#fff;
    font-size: 16px;
}

#search input[type=text] {
    width:600px;
    line-height:18px;
    padding:6px 4px;
    font-size: 16px;
    line-height: 20px;
    border: 1px solid #868D7C;
    color: #2B2B2B;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;      
    height: 35px;
}


select {
    position: relative;
    height: 35px;
    font-size: 16px;
    line-height: 30px;
    padding-top: 7px;
}

